.downloadAppHeading {
    font-size: 3.2rem;
}

.signUpText {
    font-size: 1.8rem;
}


.codeText {
    background-color: #464646;
    color: #fff;
}


.QR {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 4rem;
    margin-left: 1rem;
}

.QR p {
    margin-left: 3rem;
}
