
#progressbarr{
    list-style: none;
    display: flex;
    margin-bottom: -2rem;
}

#progressbarr .active {
    font-weight: bold;
    color: #FE9E2D;
}

@media(max-width: 720px) { 
    .card .row .col-md-4 {
        width: 50%;
    }

    
}
