body {
    font-family: 'Poppins';
}

h1 h2 h3 h4 h5 h6 p {
    font-family: 'Poppins';
}

.row ul li {
    /* color: #FFF; */
    margin-top: 1rem;
    line-height: 2;
}

.row ul li a {
    color: #FFF;
}

.heading h1 {
    color: #969696;
    font-weight: 400;
    font-size: 40px;

}

.heading h1 span {
    color: #fe9e2d;
    font-weight: 600;
    font-family: 'Poppins';
    font-size: 40px;
}

.heading p {
    color: #969696;
    font-weight: 400;
    font-family: 'Poppins';
}

.blink {
    animation: blink-animation 1s infinite;
}

@keyframes blink-animation {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

.img1 img {
    width: 90%;
}

.heading-two h1 {
    margin-top: 6rem;
    text-align: center;
    font-weight: 500;
    font-family: 'Poppins';
    font-size: 35px;
}

.heading-two h1 span {
    color: #fe9e2d;
}


.top-banner {
    background-image: linear-gradient(to left, #FF5E00, #FD8A03);
}

.whyChooseCombonation {
    text-decoration: none;
    color: #FFFFFF;
}

.whyChooseCombonation:hover {
    color: #FFFFFF;
}

.mobile {
    display: none;
}

.search{
    width: 280px;
}

.bi-search {
    position: absolute;
    padding-top: .5rem;
    padding-left: .5rem;
    padding-left: 1rem;
}



#stores-menu a:hover {

    color: #fe9e2d;

}

#stores-menu a {
    text-decoration: none;
    color: #434343;


}

.row a {
    text-decoration: none;
    color: #434343;

}

.row a:hover {

    color: #fe9e2d;

}

.dropdown:hover .dropdown-menu {
    display: block;
    padding: 1rem;
}



.dropdowns {

    color: black;
    margin-left: 2rem;
}


.navbar .navbar-toggler {
    border: none;
}

.navbar .navbar-toggler:focus  {
    box-shadow: none;
}

.small-gutters {
    display: flex;
    padding: 2rem;
}

.menu-wrapper {
    width: 890px;
}

.form-control {
    padding-left: 2.5rem;
}

.small-gutters {
    margin-right: -5px !important;
    margin-left: -5px !important;
}

footer h3::after {
    font-family: 'themify';
    content: "\e61a";
    width: 20px;
    display: block;
    float: right;
}

.offcanvas-body ul li a {
    color: #464646;
}


@media (max-width: 720px) {

    #mainTitle {
        font-size: .6rem;
    }

    .wccSections {
        font-size: .6rem;
    }

    .wccSvg {
        width: .5rem;
        height: .5rem;
    }

    .bottomListItem {
        padding: 8px 0;
        width: 75px;
        margin: auto;
    }

    .features .row {
        flex-direction: row;
    }

    .row .col-50 {
        width: 50%;
    }

    #newsletter .form-group button {
        display: none;
    }

    .offcanvas-body a {
        font-weight: bold;
    }




}

.getAppSection {
    padding-top: 6px;
    display: flex;
    justify-content: flex-end;
}

.getApp {
    text-decoration: none;
    margin-left: 6px;
    padding-top: .2rem;
}

.getAppSvg {
    margin-right: 6px;
}

.saleSection {
    border-left: 1px solid #FFFFFF;
    padding-top: .6rem;
    text-align: center;
}

.saleText {
    text-decoration: none;
    width: 150px;
}

.helpSection {
    border-left: 1px solid #FFFFFF;
    padding-top: 5px;
}

.helpText {
    margin-left: 6px;
    text-decoration: none;
}

.helpSvg {
    margin-right: 6px;
}

.styled-select {
    width: 100%;
    overflow: hidden;
    height: 30px;
    line-height: 32px;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    padding-right: 35px;
    position: relative;
    color: #ccc;
    cursor: pointer;
}

.styled-select select {
    background: transparent;
    width: 110%;
    padding-left: 10px;
    border: 0;
    box-shadow: none;
    height: 30px;
    color: #ccc;
    font-size: 0.75rem;
    margin: 0;
    font-weight: 500;
    cursor: pointer;
    outline: none;
}

option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2rem;
    padding: 0px 2px 1px;
}


@media(max-width: 720px) {
    .row .col {
        width: 50%;
    }

    #values .col-md-6 {
        width: 50%;
    }

    #mainTitle {
        /* display: inline; */
    }

    #mainTitle p {
        font-size: 9px;
    }

    .divWcc {
        display: flex;
        justify-content: space-between;
    }



    .getAppSection svg {
        width: 10px;
        margin-right: 0;
        margin-bottom: .5rem;
    }



    .getApp {
        font-size: 9px;
        margin-top: .5rem;
    }


    .saleSection a {
        font-size: 9px;
        padding-top: 0;
    }

    .helpSection {
        margin-left: .5rem;
        height: 1.5rem;
        padding-left: .5rem;
    }

    .helpSection svg {
        width: 10px;
        margin-right: 0;
        padding-bottom: .4rem;
    }

    .helpText {
        font-size: 9px;
        padding-bottom: .2rem;
    }
}





@media (max-width: 767px) {
    footer h3:after {
        width: 20px;
        display: block;
        float: right;
    }

    footer {
        background-color: #000;
    }

    footer .link ul {
        margin-top: 15px;
    }

    footer .link ul li {
        margin-bottom: 8px;
        line-height: 1.2;
    }
}

  
  