.addtofavCategory li {
    margin-left: 14.8rem;
    margin-top: .1rem;
    font-size: 18px;
    font-weight: bold;
    color: #434343;
  }
  
  .spSingleProduct {
    margin-left: 6.7rem;
    padding-top: 2px;
   
  }

  .pagination li a {
    border: none;
    color: #444;
  }


  .pagination li .page-number {
    border-radius: 20%;
  }

  .pagination li a:hover {
    background-color: #fe9e2d;
    /* border: 1px solid #434343; */
    /* background-color: white; */
    color: #444;
  }


  .page-item .active {
    /* border: none;
    color: #444; */
    background-color: #fe9e2d;
  }

