.addtofavCategory li {
    margin-left: 14.8rem;
    margin-top: .1rem;
    font-size: 18px;
    font-weight: bold;
    color: #434343;
  }
  
  .spSingleProduct {
    margin-left: 6.7rem;
    padding-top: 2px;
   
  }